@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,700,300);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  	font-family: 'Josefin Sans', sans-serif;
  	font-size: 16px;
  	line-height: 22px;
}

#logo {
	img {
	  	max-width: 220px;
	}
}

.content-bg-before-after {
	&:before, &:after {
		background-repeat: no-repeat;
		content: '';
		height: 100%;
		position: absolute;
		top: 0;
		width: 900px;

		@media (min-width: 768px) and (max-width: 979px) {
		  width: 500px;
		}

		@media (max-width: 768px) {
		  max-width: 87%;
		  width: 100%;
		}
	}

	&:before {
		background-position: left top;
		left: 0;
	}

	&:after {
		background-position: right top;
		right: 0;
	}
}

.container-fluid {

	.content-bg-before-after() {
		background-position: 0 0;
		background-repeat: no-repeat;

		&:before, &:after {
			content: '';
			height: 100%;
			position: absolute;
			top: 0;
			width: 900px;
		}

		&:before {
			background-position: left top;
			background-repeat: repeat-x;
			left: 42px;
			max-width: 90%;
			right: 20px;
			width: auto;
		}

		&:after {
			background-position: right top;
			background-repeat: repeat-y;
			right: 0;

			@media (max-width: 979px) {
				width: 50px;
			}
		}
	}

}

.no-responsive {
	.content-bg-repeat {
		width: 100%;
	}

	#menu .navbar-inverse {
        .navbar-inner {
            background-color: transparent;
            background-image: none;
        	filter: none;
        }
    }

    .navbar {
        .nav {
            > li {
              &:first-child {
                > a {
                    padding-left: 0;
                }
              }

              &:last-child {
                > a {
                    padding-right: 0;
                }
              }
            }
        }
    }

    .navbar-inverse {
        .nav {
            > li {
                &:first-child {
                    > a {
                        padding-left: 15px;
                    }
                }

                &:last-child {
                    > a {
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}

.content-wrapp {
  	background: #fffef1;
	.box-sizing(border-box);
	position: relative;
  	.border-radius(6px);
}

#menu {
	margin-bottom: 0;

	.navbar {
		margin-bottom: 0;
		#nav-menu > ul > li {
			> a {
			  font-size: 15px;
			  text-shadow: none;
			}
			> .dropdown-menu {
			  	.border-radius(0 0 6px 6px)
			}
		}
		.nav {
			margin-right: 0;
			.dropdown-toggle .caret {
			  	margin-left: 4px;
			  	margin-top: 10px;
			}
		}
	}
}

#header,
#main-content {
	margin-bottom: 0;
}

#main {
	.padding-size {
	  padding: 32px;
	}
	.blog img {
		background-color: #fff;
		border: 1px solid #d0cfc5;
		.box-shadow(2px 2px 0 rgba(0, 0, 0, 0.05));
		padding: 4px 4px 14px;
	}
}

#header {
  	.border-radius(6px 6px 0 0);
  	margin-top: 15px;
  	background-color: #fff;
  	background-position: right center;
  	background-size: 100% auto;
  	background-repeat: no-repeat;
  	padding: 32px;
	.btn-featured-collapse {
		bottom: -52px;
		position: absolute;
		right: 15px;
		z-index: 2;
	  	line-height: 20px;
	}
  	[class^="module"],
	[class*="module"] {
		margin-bottom: 0;
  	}
}

#featured {
  	margin-bottom: 0;
}

.jssocialicons.jssocialicons-horizontal {
	> li {
		float: none;
	  	display: inline;
	}
  	li:last-of-type > a {
		margin-right: 0;
	}
}

//-----------------------------------------------------------------------------------

h1 {
	font-size: 36px;
	line-height: 125%;
	padding: 4px;
	color: #9b1b0f;
  	text-transform: uppercase;
}
h2 {
	font-size: 30px;
	line-height: 125%;
	color: #623b27;

}

h3 {
	font-size: 24px;
	line-height: 125%;
	color: #000;
}
h4 {
	font-size: 16px;
	line-height: 125%;
	padding: 4px;
	color: #74130a;
}
h4 {
	font-size:1.2em;
	line-height:1.2em;
}

h5 {
	font-size:15px;
	line-height:1.1em;
}
h6 {
	font-size:13px;
	line-height:1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  	font-weight: 700;
  	color: @color_three;
}

//-----------------------------------------------------------------------------------

.navbar {
	.nav {
		li a {
			font-size: @baseFontSize + 1;
		}

		> .active {
			> a {
				.box-shadow(none);

				&:hover, &:focus {
					.box-shadow(none);
				}
			}
		}

		> li {
			.dropdown-menu {
				&:before, &:after {
					content: none;
					display: none;
				}
			}
		}
	}

	.brand {
		margin-left: 0;
	}

	.btn-navbar {
		border: 0;

		&:hover, &:focus {
			.box-shadow(none);
		}
	}
}

.navbar-inner {
	.box-shadow(none);
	padding-left: 0;
	padding-right: 0;
}

.navbar-inverse .navbar-inner {
	border: 0;
	padding: 0;

	.nav {

		> li {
			display: inline-block;
			float: none;
			line-height: 1.6em;
			position: relative;

			> a {
				border-right: 1px solid #6F1109;
				min-height: 20px;
			}
		}

		> li {
			&:first-child {
				> a {
					padding-left: 15px;
				}
			}

			&:last-child {
				> a {
					padding-right: 15px;
				}
			}
		}
	}
}

.dropdown-menu {
	border-width: 0 1px;
	.border-radius(0);

	&:before {
		content: none;
		display: none;
	}
}

.readmore .icon-chevron-right {
  	display: none;
}

//-----------------------------------------------------------------------------------

[class^="module"], [class*="module"] {
	margin-bottom: 20px;

	.module-inner {
		margin-bottom: 0;
	}

}

.module_ms1,
.moduletable_ms1 {

	.module-inner {
		> h3 {

		}
	}

	> h3 {

	}
}

.module_ms2,
.moduletable_ms2 {

	.module-inner {
		> h3 {

		}
	}

	> h3 {

	}
}


.module_ms3,
.moduletable_ms3 {

	> .module-inner {

		> h3 {

		}
    }

	> h3 {

	}
}

.module_ms4,
.moduletable_ms4 {

	> .module-inner {

	}
}


#sidebar1,
#sidebar2 {
  	background: @white;
	.padding-size {
	  	padding: 32px;
	}
}

#sidebar1 {
  	.border-radius(6px 0 0);
}

#sidebar2 {
  	.border-radius(0 6px 0);
}

#grid-bottom,
#grid-bottom2 {
  	.padding-size {
	  	padding: 32px;
	}
}

#footer {
  .padding-size {
	padding: 32px;
  }
}

//-----------------------------------------------------------------------------------

.item-page {
	overflow: visible;

	> .page-header {
		&:first-child {
			border: 0;
			padding: 0;
		}
	}
}

.blog, .blog-featured {
	h2  {
    	border-bottom: 1px dashed @hrBorder;
	}

	h2, h2 a {
	    margin-bottom: 20px;
	    padding: 4px 0 8px;
	    text-decoration: none;
	    white-space: normal;
	}

	.page-header {
		border: 0;
		padding: 0;
	}
}

//-----------------------------------------------------------------------------------

.wrapper-menu {
	background: transparent url("../images/color-bar.jpg") repeat-x scroll center top / auto 15px;
  	padding-top: 15px;
  	margin-bottom: 20px;
  	.center-block;
  	.navbar-inverse .navbar-inner {
		.nav {
			background-color: @color_one;
			float: none;
			min-height: 40px;
			padding: 0;
			position: relative;
		  	.border-radius(0 0 6px 6px)
		}
	}
}

//-----------------------------------------------------------------------------------

#toolbar {
	.navbar-inverse {
		.navbar-inner {
			.nav {
				background-color: transparent;
				background-image: none;
				padding-bottom: 0;

				&:after, &:before {
					content: none;
					display: none;
				}
			}
		}
	}
}

//-----------------------------------------------------------------------------------

.breadcrumb {
	background-color: transparent;
	padding: 0;

	> li {text-shadow: none;}
}

//-----------------------------------------------------------------------------------

legend, .page-header,
div.cat_children>div,
div.cat-children>div,
div.categories-list>div {
 	border-bottom-color: @hrBorder;
}

//-----------------------------------------------------------------------------------

.btn {
  	font-family: 'Lobster', cursive;
  	font-size: 15px;
  	line-height: 26px;
  	text-shadow: none;
	background-color: @color_one;
	background-image: none;
	color: @white;
  	border: none;
	.transition(all .4s ease-in);
	.box-shadow(none);
	&:hover, &:focus {
		background-color: transparent;
		.transition(all .4s ease-in);
		.box-shadow(inset 0 0 200px @btnBorder);
	}

	&.btn-primary {
		border-color: @btnPrimaryBackground;

		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnPrimaryBackground);
		}
	}

	&.btn-info {
		border-color: @btnInfoBackground;

		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnInfoBackground);
		}
	}

	&.btn-success {
		border-color: @btnSuccessBackground;

		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnSuccessBackground);
		}
	}

	&.btn-warning {
		border-color: @btnWarningBackground;

		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnWarningBackground);
		}
	}

	&.btn-danger {
		border-color: @btnDangerBackground;

		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnDangerBackground);
		}
	}

	&.btn-inverse {
		border-color: @btnInverseBackground;

		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnInverseBackground);
		}
	}

	&.btn-link {
		&:hover, &:focus {
			.box-shadow(none);
		}
	}

	&.btn-primary,
	&.btn-warning,
	&.btn-danger,
	&.btn-info,
	&.btn-success,
	&.btn-inverse {
		.caret {
			.transition(all .4s ease-in);
			border-bottom-color: @textColor;
			border-top-color: @textColor;
		}

		&:hover, &:focus {
			.caret {
				border-bottom-color: @white;
				border-top-color: @white;
			}
		}
	}
}

.btn-group.open {
	.dropdown-toggle {
		.box-shadow(inset 0 0 200px @btnBorder);
	}

	.btn-primary.dropdown-toggle {
		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnPrimaryBackground);
		}
	}

	.btn-info.dropdown-toggle {
		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnInfoBackground);
		}
	}

	.btn-success.dropdown-toggle {
		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnSuccessBackground);
		}
	}

	.btn-warning.dropdown-toggle {
		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnWarningBackground);
		}
	}

	.btn-danger.dropdown-toggle {
		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnDangerBackground);
		}
	}

	.btn-inverse.dropdown-toggle {
		&:hover, &:focus {
			.box-shadow(inset 0 0 200px @btnInverseBackground);
		}
	}
}

//-----------------------------------------------------------------------------------

.btn.btn-featured-collapse {
	.border-radius(5px);
	background-color: @white;
	border-color: @white;
	font-weight: bold;
  	color: @color_one;

	&:hover, &:focus {
		.box-shadow(inset 0 0 200px @white);
		background-color: @white;
		color: @color_one;
	}
}

//-----------------------------------------------------------------------------------

li {
	a [class^="icon-"], a [class*=" icon-"] {
		display: inline-block;
		margin-right: 4px;
	}
}

.counter {
	&.pull-right {
		line-height: 30px;
		margin-left: 4px;
	}
}

dl.article-info dd:hover, dl.article-info dd>div:hover {
	background-color: transparent;
}

.well {
	.box-shadow(none);
}

p.img_caption {
	background-color: @grayLighter;
}

.item-image {
	margin-bottom: 18px;
}

.pager {
	li>a, li>span {
		background-color: @grayLighter;
		border-color: @hrBorder;
		color: @textColor;

		&:hover, &:focus {
			background-color: transparent;
		}
	}
}

.form-actions {
 	border-top-color: @inputBorder;
}

.form-search label, .form-inline label, .form-search .btn-group, .form-inline .btn-group {
	margin-left: 4px;
}

.thumbnail {
	border-color: @inputBorder;
}

.list-striped {
	border-top-color: @inputBorder;
}

.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
	border-bottom-color: @inputBorder;
}

.accordion-group {
	background-color: @tableBackgroundAccent;
	border-color: @hrBorder;
}

.accordion-inner {
	border-top-color: @hrBorder;
}

.input-append .add-on, .input-prepend .add-on {
	border-color: @inputBorder;
}

.img-polaroid {
	.box-sizing(border-box);
}


.alert {
	&:last-child {
		margin-bottom: 0;
	}
}

//-----------------------------------------------------------------------------------

.nav {
  // General Submenus (only vertical menus)

	ul.submenu {
		> li {
			> a {
				color: @textColor;

				.caret {
					border-top-color: @textColor;
				}

				&:hover, &:focus{
					color: lighten(@linkColorHover, 2%);

					.caret {
						border-top-color: lighten(@linkColorHover, 2%);
					}
				}
			}

			&.active {
				> a {
					color: lighten(@linkColorHover, 2%);

					.caret {
						border-top-color: lighten(@linkColorHover, 2%);
					}

					&:hover, &:focus{
						color: lighten(@linkColorHover, 2%);

						.caret {
							border-top-color: lighten(@linkColorHover, 2%);
						}
					}
				}
			}
		}
	}
}

.nav-tabs.nav-stacked>li>a {border-color: @inputBorder;}

.nav-tabs.nav-stacked>li>a:hover, .nav-tabs.nav-stacked>li>a:focus {
	border-color: @inputBorder;
}

.nav-tabs{
	border-bottom-color: @color_one;

	> li {
		> a {
			border-width: 1px 0 1px 0;

			&:hover, &:focus{
				border-bottom-color: @color_one;
			}
		}

		&.active {
			> a {
				border-color: @color_one;
				color: @white;

				&:hover, &:focus{
					border-color: @color_one;
					color: @white;
				}
			}

			> .dropdown-toggle {
				.caret {
					border-top-color: @white;
				}

				&:hover, &:focus{
					.caret {
						border-top-color: @white;
					}
				}
			}
		}
	}

	dt {
		a{
			&:hover, &:focus {
				background-color: @grayLighter;
				border-bottom-color: @color_one;
				text-decoration: none;
			}
		}

		&.open {
			a {
				color : @white;

				.caret {
					border-top-color: @white;
				}

				&:hover, &:focus {
					background-color: @color_one;
					color : @white;

					.caret {
						border-top-color: @white;
					}
				}
			}
		}
	}
}

.nav-tabs .tabs h3 a, .nav-tabs .tabs p a {
 	border-width: 1px 0 1px 0;
}

.tabs-left {
	>.nav-tabs {
		border-right-color: @color_one;

		> li {
			> a {
				border-right-width: 1px;

				&:hover, &:focus {
					border-right-color: @color_one;
				}
			}
		}
	}
}

.tabs-right {
	>.nav-tabs {
    	border-left-color: @color_one;

		> li {
			> a {
				border-left-width: 1px;

				&:hover, &:focus {
					border-left-color: @color_one;
				}
			}
		}
 	}
}

.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover, .tabs-right > .nav-tabs .active > a:focus {
	border-color: @color_one @color_one @color_one transparent;
}

.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover, .tabs-right > .nav-tabs .active > a:focus {
	border-color: @color_one transparent @color_one @color_one;
}

//-----------------------------------------------------------------------------------

div {
	.bs-docs-example {
		border-color: @hrBorder;
	}

	.bs-docs-example:after {
		background-color: @hrBorder;
		border-color: @hrBorder;
		color: @textColor;
	}
}

body .element-invisible {
	display: block;
	visibility: hidden;
}

//-----------------------------------------------------------------------------------

#bottom-menu {
	margin-bottom: 0;

	.navbar {
		margin-bottom: 0;
	}
}

#footer {
	background-color: transparent;
	background-image: none;
	color: @textColor;
	filter: none;
	overflow: visible;

	.module {
		background-color: transparent;
		border: 0;
		padding: 0;
		.box-shadow(none);
	}

	@media (max-width: 768px) {
		.module {
			margin-bottom: 20px;
		}
	}
}



