.main-bg-bottom {
  &:before, &:after {
    background-image: url(../images/red/bg-bottom.png);
  }
}

.main-bg-top {
  &:before, &:after {
    background-image: url(../images/red/bg-top.png);
  }
}


.main-bg-before-after {
  &:before, &:after {
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 900px;
  }

  &:before {
    background-position: left top;
    left: 0;
  }

  &:after {
    background-position: right top;
    right: 0;
  }
}

.main-bg-bottom,
.main-bg-top {
  height: 30px;
  position: relative;

  .main-bg-before-after;
}

#main-content {
  position: relative;
  margin-bottom: 0;
}

.main-bg-repeat {
  position: absolute;
  left: 30px;
  height: 100%;
  width: 100%;
  z-index: -1;
  .main-bg-before-after;

  &:before , &:after {
    background-image: url(../images/red/bg-repeat.png);
    background-repeat: repeat;
  }
}

#main {
  .box-sizing(border-box);
  padding: 20px;
}