@charset "utf-8";
/* CSS Document Copyright © */
/*********************/
#sidebar1 ul li.parent a,
#sidebar1 ul li.parent span,
#sidebar2 ul li.parent a,
#sidebar2 ul li.parent span, {
	cursor: pointer;
}
#sidebar1 ul li.parent ul li a,
#sidebar1 ul li.parent ul li span,
#sidebar2 ul li.parent ul li a,
#sidebar2 ul li.parent ul li span, {
	cursor: progress;
}
#sidebar1 ul li a,
#sidebar1 ul li span {
	/*color: #041F2C;*/
	text-decoration: none;
}
#sidebar2 ul li a,
#sidebar2 ul li span {
	/*color: #041F2C;*/
	text-decoration: none;
}

#sidebar1 ul li ul li.parent a,
#sidebar1 ul li ul li.parent span,
#sidebar2 ul li ul li.parent a,
#sidebar2 ul li ul li.parent span {
	font-weight: bold;
}
#sidebar1 ul li ul li.parent ul li a,
#sidebar1 ul li ul li.parent ul li span,
#sidebar2 ul li ul li.parent ul li a,
#sidebar2 ul li ul li.parent ul li span{
	font-weight: normal;
}
#sidebar1 span.newlink,
#sidebar1 span.newlink:link,
#sidebar1 span.newlink:visited,
#sidebar1 ul li span.newlink:link,
#sidebar1 ul li span.newlink:visited,
#sidebar1 ul li ul li span.newlink:link,
#sidebar1 ul li ul li span.newlink:visited {
    float: right;
    margin: 0 5px 0 0;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
}

/* MENU MODULE */
#sidebar1 ul,
#sidebar1 ul li{
margin:0;
padding:0;
list-style:none;
overflow: hidden;
}
#sidebar1 ul li a,
#sidebar1 ul li span{
display:block;
padding:3px 3px 3px 20px;
}
#sidebar1 ul ul li a,
#sidebar1 ul ul li span{
padding:3px 3px 3px 30px;
font-size: 11px;
color: #666;
}
#sidebar1 ul ul ul li a,
#sidebar1 ul ul ul li span{
padding:3px 3px 3px 40px;
}
#sidebar1 ul ul ul ul li a,
#sidebar1 ul ul ul ul li span{
padding:3px 3px 3px 50px;
}

#sidebar1 ul ul ul ul ul li a,
#sidebar1 ul ul ul ul ul li span{
padding:3px 3px 3px 60px;
}

#sidebar1 ul ul ul ul ul ul li a,
#sidebar1 ul ul ul ul ul ul li span{
display:block;
padding:3px 3px 3px 70px;
}
#sidebar1 ul ul ul ul ul ul ul li a,
#sidebar1 ul ul ul ul ul ul ul li span{
padding:3px 3px 3px 80px;
}
#sidebar1 ul ul ul ul ul ul ul ul li a,
#sidebar1 ul ul ul ul ul ul ul ul li span{
padding:3px 3px 3px 90px;
}
#sidebar1 a.nolink,
#sidebar1 span.nolink  {
	text-decoration: none;
	cursor: pointer;
}

#sidebar2 span.newlink,
#sidebar2 span.newlink:link,
#sidebar2 span.newlink:visited,
#sidebar2 ul li span.newlink:link,
#sidebar2 ul li span.newlink:visited,
#sidebar2 ul li ul li span.newlink:link,
#sidebar2 ul li ul li span.newlink:visited {
    float: right;
    margin: 0 5px 0 0;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
}

/* MENU MODULE */
#sidebar2 ul,
#sidebar2 ul li{
margin:0;
padding:0;
list-style:none;
overflow: hidden;
}
#sidebar2 ul li a,
#sidebar2 ul li span{
display:block;
padding:3px 3px 3px 20px;
}
#sidebar2 ul ul li a,
#sidebar2 ul ul li span{
padding:3px 3px 3px 30px;
font-size: 11px;
color: #666;
}
#sidebar2 ul ul ul li a,
#sidebar2 ul ul ul li span{
padding:3px 3px 3px 40px;
}
#sidebar2 ul ul ul ul li a,
#sidebar2 ul ul ul ul li span{
padding:3px 3px 3px 50px;
}

#sidebar2 ul ul ul ul ul li a,
#sidebar2 ul ul ul ul ul li span{
padding:3px 3px 3px 60px;
}

#sidebar2 ul ul ul ul ul ul li a,
#sidebar2 ul ul ul ul ul ul li span{
display:block;
padding:3px 3px 3px 70px;
}
#sidebar2 ul ul ul ul ul ul ul li a,
#sidebar2 ul ul ul ul ul ul ul li span{
padding:3px 3px 3px 80px;
}
#sidebar2 ul ul ul ul ul ul ul ul li a,
#sidebar2 ul ul ul ul ul ul ul ul li span{
padding:3px 3px 3px 90px;
}
#sidebar2 a.nolink ,
#sidebar2 span.nolink {
	text-decoration: none;
	cursor:pointer;
}

#sidebar1 li.parent ul,
#sidebar2 li.parent ul{
	background-image: none;
	background-repeat:no-repeat;
	background-position: top left;
}
#sidebar1 li.parent ul li ul,
#sidebar2 li.parent ul li ul{
	background-image:none;
	background-repeat:no-repeat;
	background-position: bottom left;
}
#sidebar1 li.active,
#sidebar2 li.active {
	box-shadow: 0 0 3px #666;
	margin: 0 0 3px 0;
}
#sidebar1 li.active a span,
#sidebar2 li.active a span,
#sidebar1 li.active span span,
#sidebar2 li.active span span{
	box-shadow: 0 0;
}