@charset "utf-8";
/* CSS Document Copyright © */

/* ***************************************************************************************************** */
/* CONTACT COMPONENT */
.category tbody td{
padding:5px;
}
#component-contact{
font-size:12px;
}
#component-contact br{
display:none;
}
.contact-form{
padding:10px;
margin:0 0 20px 0;
}
.contact-form input,
.contact-form textarea{
display:block;
}
#contact_text{
width:98%;
clear:both;
}
#contact-email-copy,
#contact_email_copy{
display:inline-block;
}
#emailForm .button{
display:block;
margin:20px 0 0 0;
}
#contact-slider br{
display:none;
}
#contact-slider .panel .content{
	padding:10px;
}
#contact-slider .panel h3{
font-size:18px;
margin:0;
}
#contact-slider .panel h3 a{
text-decoration:none;
}
#emailForm{
font-size:12px;
}
/* ***************************************************************************************************** */
/* PASSWORD/USERNAME REMINDER */
.josForm{
padding:10px;
margin:0 0 20px 0;
font-size:12px;
}
label.hasTip{
cursor:pointer;
}
#name,
#username{
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
}
#email{
font-family:Arial, Helvetica, sans-serif;
font-size:0.9em;
padding:5px;
margin:0 10px 0 0;
display:inline-block;
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
}
.validate{
font-family:Arial, Helvetica, sans-serif;
padding:5px 15px;
cursor:pointer;
display:inline-block;
font-border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
}
/* ***************************************************************************************************** */
/* REMIND FORM */
.remind{
padding:10px;
margin:0 0 20px 0;
}
.remind button{
font-family:Arial, Helvetica, sans-serif;
padding:5px 15px;
cursor:pointer;
display:inline-block;
font-border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
}
.remind input{
font-family:Arial, Helvetica, sans-serif;
font-size:0.9em;
padding:5px;
}
/* ***************************************************************************************************** */
/* RESET FORM */
.reset{
padding:10px;
margin:0 0 20px 0;
}
.reset button{
font-family:Arial, Helvetica, sans-serif;
padding:5px 15px;
cursor:pointer;
display:inline-block;
font-border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
}
/* ***************************************************************************************************** */
/* REGISTER FORM */
.registration{
padding:10px;
margin:0 0 20px 0;
font-size:12px;
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
}
.register input{
font-family:Arial, Helvetica, sans-serif;
padding:5px;
margin:0;
}
/* ***************************************************************************************************** */
/* LOGIN COMPONENT */
fieldset.input{
font-size:12px;
}
#com-form-login ul,
#com-form-login li{
margin:0;
padding:0;
list-style:none;
}
#com-form-login li{
font-size:12px;
display:block;
padding:3px 3px 3px 20px;
}
.login{
padding:10px;
margin:0 0 20px 0;
font-size:12px;
}
.login input{
display:block;
}
.login input#rem{
display:inline;
}
.login #username,
.login #password{
font-family:Arial, Helvetica, sans-serif;
font-size:0.9em;
padding:4px 5px;
}
/* ***************************************************************************************************** */
/* USER PROFILE */
.profile{
padding:10px;
margin:0 0 20px 0;
font-size:12px;
}
.profile a{
font-family:Arial, Helvetica, sans-serif;
padding:5px 15px;
cursor:pointer;
text-decoration:none;
font-border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
}
.profile-edit{
padding:10px;
margin:0 0 20px 0;
font-size:12px;
width:90%;
}
.profile-edit label{
display:block;
}
.profile-edit button{
font-family:Arial, Helvetica, sans-serif;
padding:5px 15px;
cursor:pointer;
text-decoration:none;
font-border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
}
.profile-edit input,
.profile-edit select{
font-family:Arial, Helvetica, sans-serif;
font-size:0.9em;
padding:5px;
}
/* ***************************************************************************************************** */
/* ADMINISTRATIVE ELEMENTS */
.contentpaneopen_edit{
margin:0 10px 0 0;
padding:5px 0 0 0;
}
/* ***************************************************************************************************** */
/* TOOLTIPS */
.tool-tip {
float: left;
border: 1px solid #D4D5AA;
padding: 5px;
max-width: 200px;
}
.tool-title {
padding: 0;
margin: 0;
margin-top: -15px;
padding-top: 15px;
padding-bottom: 5px;
background: url(../../system/images/selector-arrow.png) no-repeat;
font-size: 100%;
font-weight: bold;
}
.tool-text {
margin: 0;
font-size: 100%;
}
/* ***************************************************************************************************** */
/* SYSTEM MESSAGES */
#system-message {
margin-bottom: 10px !important;
padding: 0 !important;
clear: both !important;
display: block !important;
float: none !important;
padding: 0 !important;
width: 100% !important;
}
#system-message dt {
font-weight: bold !important;
}
#system-message dd {
margin: 0 !important;
font-weight: bold !important;
text-indent: 30px !important;
}
#system-message dd ul {
list-style: none !important;
margin: 0px !important;
padding: 10px !important;
color: #0055BB !important;
background:  url(../images/status-info.png) no-repeat 10px 50% !important;
border-top: 3px solid #629DE3 !important;
border-bottom: 3px solid #629DE3 !important;
}
#system-message dt.message {
display:none !important;
}
#system-message dd.message {
background:none !important;
border:0 !important;
clear:both !important;
display:block !important;
float:none !important;
margin:0 !important;
padding:0 !important;
width:100% !important;
}
#system-message dt.error {
display: none !important;
}
#system-message dd.error ul {
margin: 0px !important;
list-style: none !important;
color: #c00 !important;
background:  url(../images/status-alert.png) no-repeat 10px 50% !important;
border-top: 3px solid #DE7A7B !important;
border-bottom: 3px solid #DE7A7B !important;
}
#system-message dt.notice {
display: none !important;
}
#system-message dd.notice ul {
margin: 0px !important;
list-style: none !important;
color: #DCA33C !important;
background: url(../images/status-note.png) no-repeat 10px 50% !important;
border-top: 3px solid #F0DC7E !important;
border-bottom: 3px solid #F0DC7E !important;
}

/* ***************************************************************************************************** */
/* ***************************************************************************************************** */
/* SEARCH MODULE */
.search{}
.search .button{
margin:0 10px;
}
.search .inputbox{
margin:0 10px;
}
/* ***************************************************************************************************** */
/* NEWSFLASH MODULE */
#banner .moduletable{
margin:0;
}
/* ***************************************************************************************************** */
/* IMAGE BANNER MODULE */
.banneritem{
text-align:right;
}
/* ***************************************************************************************************** */
/* STATS MODULE */
ul.stats-module,
ul.stats-module li{
margin:0;
padding:0;
list-style:none;
}
ul.stats-module li{
display:block;
padding:3px 3px 3px 20px;
}
/* ***************************************************************************************************** */
/* POPULAR MODULE */
ul.mostread,
ul.mostread li{
margin:0;
padding:0;
list-style:none;
}
ul.mostread li{
display:block;
padding:3px 3px 3px 20px;
}
/* ***************************************************************************************************** */
/* LATEST NEWS MODULE */
ul.latestnews,
ul.latestnews li{
margin:0;
padding:0;
list-style:none;
}
ul.latestnews li{
display:block;
padding:3px 3px 3px 20px;
}
/* ***************************************************************************************************** */
/* ARCHIVE MODULE */
ul.archive-module,
ul.archive-module li{
margin:0;
padding:0;
list-style:none;
}
ul.archive-module li{
display:block;
padding:3px 3px 3px 20px;
}
/* ***************************************************************************************************** */
/* SECTIONS MODULE */
ul.sections-module,
ul.sections-module li{
margin:0;
padding:0;
list-style:none;
}
ul.sections-module li{
display:block;
padding:3px 3px 3px 20px;
}
/* ***************************************************************************************************** */
/* FEED DISPLAY MODULE */
.feed{}
.feed h4{}
.feed ul.newsfeed,
.feed ul.newsfeed li{
margin:0;
padding:0;
list-style:none;
}
.feed ul.newsfeed
{
	margin:20px 0 0 0;
}
.feed ul.newsfeed li.newsfeed-item{
margin-bottom:20px;
padding:5px;
}
.feed h5.feed-link{
display:block;
padding:3px 20px 3px 3px;
}
/* ***************************************************************************************************** */
/* POLLS MODULE */
ul.polls-options,
.polls-options li{
margin:0;
padding:0;
list-style:none;
}
ul.polls-options{
margin:0 0 20px 0;
}
/* ***************************************************************************************************** */
/* LOGIN MODULE */
#login-form fieldset,
#form-login fieldset{
padding:0;
margin:0 0 10px 0;
}
#login-form ul,
#login-form li,
#form-login ul,
#form-login li{
margin:0;
padding:0;
list-style:none;
}
#login-form li,
#form-login li{
display:block;
padding:3px 3px 3px 20px;
}
#modlgn-username,
#form-login-username{
margin:0;
display:block;
}
#modlgn-passwd,
#form-login-password{
margin:0;
display:block;
}
#form-login-remember{
margin:0 0 10px 0;
}
#modlgn_remember{
padding:0 !important;
margin:0 0 0 5px !important;
}
/* ***************************************************************************************************** */
/* RELATED ITEMS MODULE */
ul.relateditems,
ul.relateditems li{
margin:0;
padding:0;
list-style:none;
}
ul.relateditems li{
display:block;
padding:3px 3px 3px 20px;
}
/* ***************************************************************************************************** */
/* ARTICLE CATEGORIES MODULE */
ul.categories-module,
ul.categories-module li{
margin:0;
padding:0;
list-style:none;
}
ul.categories-module li{
	display:block;
	margin:0 0 10px 0;
}
/* ***************************************************************************************************** */
/* ARTICLES CATEGORY MODULE */
ul.category-module,
ul.category-module li{
margin:0;
padding:0;
list-style:none;
}
ul.category-module li{
display:block;
padding:5px 0 0 0;
margin:0 0 10px 0;
}
/* ***************************************************************************************************** */
/* LATEST USERS MODULE */
ul.latestusers,
ul.latestusers li{
margin:0;
padding:0;
list-style:none;
}
ul.latestusers li{
display:block;
padding:3px 3px 3px 20px;
margin:0 0 10px 0;
}
/* ***************************************************************************************************** */
/* WHOS ONLINE MODULE */
ul.whosonline,
ul.whosonline li{
margin:0;
padding:0;
list-style:none;
}
ul.whosonline li{
display:block;
padding:3px 3px 3px 20px;
margin:0 0 10px 0;
}
/* ***************************************************************************************************** */
/* LOGIN MODULE */
#form-login #modlgn_passwd,
#form-login #modlgn_username{
display:block;
}
/* ***************************************************************************************************** */
/* LANGUAGE MODULE */
.languages-module ul,
.languages-module li{
margin:0;
padding:0;
list-style:none;
}
.languages-module li{
display:inline-block;
margin:0 5px;
}
/* ***************************************************************************************************** */
/* MENU MODULE */
.moduletable_menu ul,
.moduletable_menu ul li{
margin:0;
padding:0;
list-style:none;
}
.moduletable_menu ul li a{
display:block;
padding:3px 3px 3px 20px;
}
.moduletable_menu ul ul li a{
padding:3px 3px 3px 40px;
}
.moduletable_menu ul ul ul li a{
padding:3px 3px 3px 40px;
}
.moduletable_menu ul ul ul ul li a{
padding:3px 3px 3px 60px;
}
.module_menu ul,
.module_menu ul li{
margin:0;
padding:0;
list-style:none;
}
.module_menu ul li a{
display:block;
padding:3px 3px 3px 20px;
}
.module_menu ul ul li a{
padding:3px 3px 3px 40px;
}
.module_menu ul ul ul li a{
padding:3px 3px 3px 40px;
}
.module_menu ul ul ul ul li a{
padding:3px 3px 3px 60px;
}

/* ***************************************************************************************************** */
/* WEBLINKS COMPONENT */
table.weblinks{
font-size:0.9em;
}
table.weblinks td img{
margin:0 10px 0 0;
}
table.weblinks{
width:100%;
}
table.weblinks p{
margin:0;
}
.weblinks ul,
.weblinks li{
margin:0;
padding:0;
list-style:none;
}
.weblinks li{
margin:10px 0;
padding:0;
overflow:hidden;
}
.weblinks li li{
padding:10px;
margin:20px 0;
}
.weblinks .item-title{
display:block;
font-size:18px;
margin:0 0 10px 0;
}
.weblinks .jitem-title{
display:block;
font-size:18px;
margin:0 0 10px 0;
}
.image-left{
float:left;
margin:0 20px 20px 0;
}

/* ***************************************************************************************************** */
/* DEFAULT MODULES */
.moduletable,
.moduletable_text,
.moduletable_menu{
font-size:12px;
}
.moduletable h3,
.moduletable_text h3,
.moduletable_menu h3{
padding:5px 0;
margin:0 0 5px 0;
}



/* ***************************************************************************************************** */
/* CUSTOM TYPOGRAPHY */
/* ***************************************************************************************************** */
/* BLOCKQUOTE */
blockquote.left{
margin:0 20px 20px 0;
}
blockquote.right{
margin:0 0 20px 20px;
}
blockquote,
blockquote.left,
blockquote.right {
font-size:18px;
box-shadow:inset 0 0 5px #CCC;
-moz-box-shadow:inset 0 0 5px #CCC;
-webkit-box-shadow:inset 0 0 5px #CCC;
-khtml-box-shadow:inset 0 0 5px #CCC;
}
/* ***************************************************************************************************** */
/* PRE/CODE */
pre,
.code{
padding:20px;
font-size:12px;
border:1px solid #CCC;
box-shadow:inset 0 0 5px #CCC;
-moz-box-shadow:inset 0 0 5px #CCC;
-webkit-box-shadow:inset 0 0 5px #CCC;
-khtml-box-shadow:inset 0 0 5px #CCC;
}
/* ***************************************************************************************************** */
/* ALERT STYLES */
.alert, .info, .download, .note{
display: block;
padding: 10px 10px 10px 50px;
margin: 15px 0;
}
.alert {
color: #c00;
border-top: 3px solid #fe7b7a;
border-bottom: 3px solid #fe7b7a;
background: url(../images/status-alert.png) 10px 50% no-repeat;
}
.info {
color: #0055BB;
border-top: 3px solid #629de3;
border-bottom: 3px solid #629de3;
background:url(../images/status-info.png) 10px 50% no-repeat;
}
.note {
color: #B79000;
border-top: 3px solid #fde179;
border-bottom: 3px solid #fde179;
background:url(../images/status-note.png) 10px 50% no-repeat;
}
.download {
color: #57861A;
border-top: 3px solid #c2df88;
border-bottom: 3px solid #c2df88;
background:url(../images/status-download.png) 10px 50% no-repeat;
}
/* ***************************************************************************************************** */
/* ARTICLE CATEGORIES */
div.categories-list ul,
div.categories-list li{
margin:0;
padding:0;
list-style:none;
}
div.categories-list li{
margin:10px 0;
border-radius:10px;
padding:10px;
overflow:hidden;
box-shadow: 0 0 5px #ccc inset;
border: 1px solid #ccc;
}

div.categories-list li li,
div.cat-children li{
	padding:10px;
	border-radius:10px;
	margin:20px 0;
	overflow:hidden;
	box-shadow: 0 0 5px #ccc inset;
	border: 1px solid #ccc;
}
div.categories-list li.first ul li,
div.categories-list li.last ul li,
div.cat-children li.first ul li,
div.cat-children li.last ul li {
    background-color: #F6F4E5;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 0;
    margin-left: 20px;
}
div.categories-list .item-title{
display:block;
font-size:18px;
margin:0 0 10px 0;
}
.image-left{
float:left;
margin:0 20px 20px 0;
}
/* ***************************************************************************************************** */
/* ARTICLE CATEGORY LIST */
div.cat-children ul{
margin:0;
padding:0;
list-style:none;
}
div.cat-children li li{
padding:10px;
margin:20px 0;
}
.filters .hidelabeltxt,
.filters .filter-search,
.filters .display-limit{
display:inline-block;
margin:0 10px 0 0;
}
.category{
font-size:0.9em;
}
.title a{
	margin-left: 20px;
}
.title p a{
	margin-left: 0;
}
.category thead th{
text-align:left;
padding:5px;
}
.category thead a{
text-decoration:none;
}
.category thead img{
margin:0 0 0 10px;
}
.cat-list td,
.cat-list-row0 td,
.cat-list-row1 td{
padding:5px;
}
/* ***************************************************************************************************** */
/* NEWSFEEDS COMPONENT */
table.newsfeeds{
font-size:12px;
}
table.newsfeeds th{
text-align:left;
}
.newsfeed ol,
.newsfeed li{
margin:0;
padding:0;
list-style:none;
}
.newsfeed li{
margin:10px 0;
padding:10px;
overflow:hidden;
}
.newsfeed li li{
padding:10px;
margin:20px 0;
}
/* ***************************************************************************************************** */
/* ARCHIVE LIST */
ul#archive-list,
ul#archive-list li{
margin:0;
padding:0;
list-style:none;
}
ul#archive-list li{
padding:10px;
margin:0 0 20px 0;
}
ul#archive-list li h4{
font-size:18px;
}
ul#archive-list li h5.metadata{
padding:5px;
}
ul#archive-list li h5.metadata span{
display:inline-block;
padding: 3px 3px 3px 18px;
margin:0 5px 0 0;
font-size:12px;
font-weight:normal;
}
/* ***************************************************************************************************** */
/* POLLS COMPONENT */
table.pollstableborder{
width:100%;
}
table.pollstableborder th{
text-align:left;
padding:10px 5px;
}
#poll table.pollstableborder th img {
display:none;
}
#poll .smalldark{
width:50%;
font-size:12px;
line-height:1.5em;
}
.polls_color_1, .polls_color_2, .polls_color_3, .polls_color_4, .polls_color_5 {
border:0;
height:20px !important;
}

/*************************** Breadcrums *****************************************************/
#pathway{
	font-size:10px;
	margin:0;
}
#pathway-inner a{
	color:#999999;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
}

#pathway-inner{
padding:5px 10px;
}
#pathway-inner strong{
	background-image:url(../images/strong-bread.png);
	background-position:right center;
	background-repeat:no-repeat;
	color:#999999;
	font-style: italic;
	text-transform: lowercase;
}
/* BREADCRUMBS MODULE */
#pathway .sep{
 	display:inline-block;
    height: 20px;
    margin: 0 5px 0 0;
    width: 5px;
    background-image: url(../images/span-bread.png);
    background-repeat:no-repeat;
    background-position: center;
}
#pathway .module,
#pathway .module_text,
#pathway .module_menu{
margin-bottom:0;
padding:0;
}
/* ***************************************************************************************************** */
/* JOOMLA SPECIFIC CSS CODE */
/* ***************************************************************************************************** */
/* FRONTEND EDITOR */
#adminForm label{
display:block;
}
#adminForm input,
#adminForm select{
	border-radius: 6px;
	border:1px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-bottom: 5px;
	padding:4px 5px;
}
#editor-xtd-buttons{
display:inline-block;
float:left;
}
.toggle-editor{
display:inline-block;
float:left;
}
.button2-left{
margin:20px 5px 0 0;
float:left;
}
.button2-left a{
font-family:Arial, Helvetica, sans-serif;
padding:4px 15px;
cursor:pointer;
font-border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
}
.button2-left .readmore{
padding:0;
border:0;
}
.mceEditor{
margin:10px 0;
}
.formelm_buttons{
text-align:right;
}
.formelm_buttons button{
font-family:Arial, Helvetica, sans-serif;
padding:3px 5px;
cursor:pointer;
}
/* ***************************************************************************************************** */
/* CONTENT COMPONENT STYLES */
.image_left{
padding:5px;
margin:0 10px 10px 0;
float:left;
}
.image_right{
padding:5px;
margin:0 0 10px 10px;
float:right;
}
.button{
font-family:Arial, Helvetica, sans-serif;
padding:4px 15px;
cursor:pointer;
}

.inputbox{
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	margin:0;
	border: 1px solid #eee;
}
#page{
position:relative;
overflow:hidden;
}
.actions{
font-size:11px;
}
.actions a{
text-decoration:none;
}
.actions a:hover{
text-decoration:none;
}
.actions img{
margin:0 0 0 5px;
}
.article-info-box{
	color: #B1A89E;
	margin: 0 0 20px;
	padding:10px 0;
    font: small-caps 10px/10px "Lucida Grande",Lucida,Verdana,sans-serif;
}
.article-info-box ul.article-info{
	border: 0;
	margin: 0;
	padding: 0;
}
.article-info{
margin:0;
font-size:11px;
}
li.parent-category-name,
li.category-name,
li.create,
li.modified,
li.published,
li.createdby,
li.hits {
font-family:inherit;
}
span.content_rating{
margin:0 0 -5px 0 !important;
font-size:12px;
display:block;
}
span.content_vote{
margin:0 0 5px 0;
font-size:12px;
padding:0 0 5px 0;
display:block;
}
span.content_vote input {
margin:0 3px;
}
span.content_vote .button {
margin:0 0 0 10px;
font-size:13px;
padding:3px 10px;
}
.readmore a,
.readon{
text-decoration:none;
display:inline-block;
}
.readmore a:hover,
.readon:hover{
text-decoration:none;
}
.readmore a,
.readon a{
text-decoration:none;
}
.readmore a:hover,
.readon a:hover{
text-decoration:none;
}
ul.pagenav li a{
display:inline-block;
font-size:12px;
padding:5px 15px;
text-decoration:none;
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
}
ul.pagenav,
ul.pagenav li{
margin:0;
padding:0;
list-style:none;
}
ul.pagenav li{
display:inline;
}
/* ***************************************************************************************************** */
/* FRONTPAGE COMPONENT */

.leading{
	/*margin:0 0 40px 0;*/
	position:relative;
}

.leading h2{
font-size:1.3em;
margin-right:60px;
}
.leading_separator{
display:block;
height:1px;
}
.article_row{
clear:both;
margin:0 0 40px 0;
}
.article_row h2{
font-size:13px;
margin-right:60px;
}
.article_separator{
display:block;
height:1px;
}
.row_separator{
display:block;
height:1px;
clear:both;
}
/* 1 COLUMN LAYOUT */
.article_column.column1.cols1{
position:relative;
}
/* 2 COLUMN LAYOUT */
.article_column.column1.cols2{
float:left;
width:48%;
position:relative;
}
.article_column.column2.cols2{
float:right;
width:48%;
position:relative;
}
/* 3 COLUMN LAYOUT */
.article_column.column1.cols3{
margin-right:2%;
float:left;
width:30%;
position:relative;
}
.article_column.column2.cols3{
float:left;
width:30%;
position:relative;
}
.article_column.column3.cols3{
float:right;
width:30%;
position:relative;
}
/* 4 COLUMN LAYOUT */
.article_column.column1.cols4{
margin-right:2%;
float:left;
width:23%;
position:relative;
}
.article_column.column2.cols4{
margin-right:2%;
float:left;
width:23%;
position:relative;
}
.article_column.column3.cols4{
float:left;
width:23%;
position:relative;
}
.article_column.column4.cols4{
float:right;
width:23%;
position:relative;
}
/* 5 COLUMN LAYOUT */
.article_column.column1.cols5{
margin-right:2%;
float:left;
width:18%;
position:relative;
}
.article_column.column2.cols5{
margin-right:2%;
float:left;
width:18%;
position:relative;
}
.article_column.column3.cols5{
margin-right:2%;
float:left;
width:18%;
position:relative;
}
.article_column.column4.cols5{
float:left;
width:18%;
position:relative;
}
.article_column.column5.cols5{
float:right;
width:18%;
position:relative;
}
/* 6 COLUMN LAYOUT */
.article_column.column1.cols6{
margin-right:2%;
float:left;
width:14%;
position:relative;
}
.article_column.column2.cols6{
margin-right:2%;
float:left;
width:14%;
position:relative;
}
.article_column.column3.cols6{
margin-right:2%;
float:left;
width:14%;
position:relative;
}
.article_column.column4.cols6{
margin-right:2%;
float:left;
width:14%;
position:relative;
}
.article_column.column5.cols6{
float:left;
width:14%;
position:relative;
}
.article_column.column6.cols6{
float:right;
width:14%;
position:relative;
}
.items-more{
clear:both;
display:block;
}
.items-more h3{
font-size:13px;
margin:0;
padding:5px 10px;
}
.items-more ol,
.items-more li{
margin:0;
padding:0;
list-style:none;
}
.items-more ol
{
	border: 1px solid #ccc;
	margin-bottom: 5px;
	margin-top: 10px;
}
.items-more li{
	font-size:12px;
}
.items-more li a{
 	color: #660000;
    font-size: 15px;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
}
body.-Dark ol li a{
	color: #ccc;
}
#sidebar2 table,
#sidebar1 table{
	width:auto;
}
ol li a{
   	color: black;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}
#sidebar1 ol li a:hover,
#sidebar2 ol li a:hover{
	text-decoration: none;
}
.counter{
display:inline-block;
}
.pagination{
	color:#9C0000;
	margin:10px 0;
	font-size:13px;
	text-transform:uppercase;
	padding:5px 0;
	display:inline-block;
}
span.pagination span{
margin:0 5px;
}
.pagination a{
    border: 1px solid #ccc;
    padding: 5px 8px;
    color: black;
}
.pagination a:hover{
	text-decoration: none;
	color:#666;
}
/* ***************************************************************************************************** */
/* ARTICLE VIEW */
h2.contentheading{
font-size:1.3em;
margin-right:60px;
}
/* ***************************************************************************************************** */
/* SEARCH COMPONENT */
.word{
padding:10px;
font-size:12px;
}
.phrase{
float:none;
display:block;
font-size:12px;
}
.only{
float:none;
display:inline-block;
font-size:12px;
}
.searchintro{
font-size:12px;
padding:10px;
}
.searchintro a{
padding:5px 15px;
text-decoration:none;
display:inline-block;
}
.search-results ol{
margin:0;
padding:0;
list-style:none;
}
.search-results ol li{
font-size:12px;
padding:10px;
margin:0 0 20px 0;
}
.search-results ol li h4{
margin:0;
}
.search-results .highlight{
font-size:15px;
display:inline-block;
padding:0 5px;
}
#search .readon {
font-size:14px;
font-weight:bold;
display:inline;
float:none;
padding:4px 26px;
margin:0 0 0 20px;
}
.phrases{
display:block;
font-size:12px;
padding:10px;
}
.phrases-box input{
display:inline-block;
margin:0 0 5px 0;
}
.phrases-box .phrase{
padding:0;
font-size:13px;
display:inline-block;
}
.search .only{
display:block;
padding:10px;
margin:0 0 20px 0;
}
.search .form_limit{
display:inline-block;
}
ol.search_results,
ol.search_results li{
margin:0;
padding:0;
list-style:none;
}
ol.search_results li.result-title{
margin:10px 0;
padding:10px;
font-size:12px;
}
ol.search_results li.result-title h4{
display:inline-block;
margin:0;
}
.result-category br{
display:none;
}
ol.search_results li.result-title .highlight{
font-size:15px;
display:inline-block;
padding:0 5px;
}
/* ***************************************************************************************************** */
/* TABLE OF CONTENTS VIEW */
.contenttoc{
width:35%;
float:right;
margin:0 0 20px 20px !important;
font-size:12px;
}
.contenttoc th{
text-align:left;
padding:3px 3px 3px 10px;
}
.contenttoc a{
display:block;
padding:3px 3px 3px 20px;
}
.pagenavcounter{
display:inline-block;
padding:5px;
margin:0 0 20px 0;
font-size:12px;
}
.pagenavbar{
display:inline-block;
padding:5px;
margin:0 0 20px 0;
font-size:12px;
}
.pagination li a {
background:none;
border:0;
color:inherit;
text-decoration:underline;
}
.pagination li a:hover {
background:none;
border:0;
color:inherit;
text-decoration:none;
}
#article-index{
width:35%;
float:right;
margin:0 0 20px 20px !important;
font-size:12px;
}
#article-index ul,
#article-index li{
margin:0;
padding:0;
list-style:none;
}
#article-index li a{
display:block;
padding:3px 3px 3px 20px;
}
.pagination ul,
.pagination li{
margin:0;
padding:0;
list-style:none;
}
.pagination ul{
display:inline-block;
padding:5px;
margin:0 0 20px 0;
}
.pagination li{
display:inline-block;
margin:0 5px;
}
/* ***************************************************************************************************** */
/* SECTION TABLE */
.category-desc{
clear:both;
}
.cat-items{
clear:both;
display:block;
margin:20px 0;
}
ul.cat-items,
ul.cat-items li{
margin:0;
padding:0;
list-style:none;
}
ul.cat-items li{
display:block;
margin:0 0 20px 0;
padding:0 0 20px 20px;
}
/* ***************************************************************************************************** */
/* CATEGORY TABLE */
.contentdescription img{
display:inline-block;
margin:0 20px 0 0;
padding:10px;
}
.sectiontableheader a{
text-decoration:none;
}
.sectiontableheader a img{
margin:0 0 0 10px;
}
table.contentpane img{
display:inline-block;
margin:0 20px 0 0;
padding:10px;
}
.sectiontableentry0 td,
.sectiontableentry1 td,
.sectiontableentry2 td{
padding:5px;
}
/* ***************************************************************************************************** */
.filters .filter-search label{
	float: left;
}
.article-info{
	padding: 0;
}
ul.article-info{
	margin-bottom: 10px;
}
dl.article-info,
ul.article-info {
	border-bottom:1px solid #eee;
	padding-bottom: 10px;
}
dl.article-info dd,
ul.article-info li{
	color:#B1A89E;
	font: small-caps 10px/20px "Lucida Grande",Lucida,Verdana,sans-serif;
}

#selectForm,
.contact-contactinfo
{
	background-color: #D7D2B7;
	border-radius: 10px;
	margin: 10px 0;
	padding: 1.5em;
}
#selectForm .inputbox
{
	border: 1px solid #eee;
}
.cont-style h3
{
	margin-bottom: 10px;
	margin-top: 10px;
}
.cont-style #contact-slider h3
{
	margin-top: 0;
}
dl#tabs dt h3, dl.tabs dt h3
{
	margin-top: 0;
}
dl#tabs dt, dl.tabs dt{
	background-color: #eee;
	box-shadow: none;
}

dl#tabs dt:hover, dl#tabs dt.open, dl.tabs dt:hover, dl.tabs dt.open
{
	box-shadow: none;
	background-color: #fff;
}

.panel h3.pane-toggler-down
{
	box-shadow: none;
}
.panel h3.pane-toggler-down a
{
	margin-left: 10px;
}
#tabs + div.current, .tabs + div.current
{
	box-shadow: none;
}

li a[class^="icon-"], li a[class*=" icon-"]
{
	text-align: left;
}

.login #username, .login #password
{
	border: 1px solid #ccc;
}
.contact-form input, .contact-form textarea,
.remind input,
.reset-field input
{
	border: 1px solid #ccc;
}
