@charset "utf-8";
/* CSS Document Copyright © */
/*************************** Menu  *****************************************************/
#menu{
	background-image: url("../images/Red/navcontainer.png");
    background-position: -10px 0;
    border: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: 0 0;
    min-height: 42px;
    padding-left: 10px;
    width: 896px;
    z-index: 9000;
    margin: -5px auto 0;
}

#menu ul.menu {
	position: relative;
	float: left;
}

#menu.featured ul.menu {
	position: relative;
	float: left;
}

#menu ul,
#menu ul li,
#menu ul ul{
	list-style: none;
	margin: 0;
	padding: 0;

}
#menu ul{
	z-index: 597;
}
#menu ul li
{
	position:relative;
	float: left;
	line-height: 1.3em;
	vertical-align: middle;
	zoom: 1;
	border-left:1px solid #42110A;
}
#menu ul li.active > a{
	color: #E3DAA1;
}
#menu ul li:hover{
	background-image: url(../images/Red/menubar_over.png);
}
#menu ul li:first-child,
#menu ul li:first-child a{
	border-left: 0 none;
}
#menu ul li a,
#menu ul li span {
	border-left:1px solid #6F1109;
	display:block;
	padding:11px 15px;
	font-family:"Georgea";
	color:white;
	font-size: 14px;
	text-decoration:none;
	font-weight:normal;
}
#menu ul li.hover,
#menu ul li:hover{
	cursor: default;
}
#menu ul ul {
	background-image:url("../images/Red/menu_gradient.png");
	background-repeat:repeat-x;
	background-color:#860805;
	height: auto;
	display:none;
	position: absolute;
	left: 0;
	top:100%;
	z-index: 598;
	width: auto;
	text-transform:capitalize;
	font-size:13px;
	border-bottom: medium none;
    border-left: 1px solid #780705;
    border-right: 1px solid #780705;
    border-width: 0 1px medium;
    min-width: 100%;
}
#menu ul li ul li {
	background-image: none;
	white-space:nowrap;
	margin:0;
	padding:0;
	float:none;
	position: relative;
	width:100%;
	border: 0 none;
}
#menu ul li ul li:hover{
	background-image: none;
	background-color: #780705;
}
#menu ul li ul li.parent{
	background: url("../images/Red/arrow_right.gif") no-repeat scroll 98% 50% ;
}
#menu ul li ul li.parent a,
#menu ul li ul li.parent span{
	padding-right: 20px;
}
#menu ul li ul li a,
#menu ul li ul li span{
	padding: 5px 10px;
	border-left: 0 none;
}
#menu ul li ul li ul {
	position: absolute;
	height:auto;
	left:100%;
	top:0;
}
