/* CSS Document Copyright © */

div.module .pad-title span{
	background-color: #EBE8D4;
}
div.module h3, h3 {
	color: #a10000;
	font-weight: normal;
}
div.module_ms1 h3{
	color: #fefef1;
}
div.module_ms1 .pad-title{
	background-color: #9E8F62;
	border-bottom: 1px solid #92835A;
}
div.module_ms2 h3{
	color: #fefef1;
}
div.module_ms2 .pad3{
	background-color: #EBE8D4;
}
div.module_ms2 .pad-title{
	background-color: #600D07;
	border-bottom: 1px solid #430604;
}
div.module_ms3 h3 {
	color: #a10000;
}
div.module_ms4 h3 {
	color: #a10000;
}

/**************MS2********************/
div.module_ms1.no_title .pad6{
	background-image: url("../images/Red/ms1/repeat-title-s2-no-title.png");
	background-position: top;
	background-repeat: repeat;
	height: 8px;
}

div.module_ms1.no_title .pad4{
	padding:0 0 0 13px;
}
/***************MS2*********************/
div.module_ms2.no_title .pad6{
	background-image: url("../images/Red/ms2/repeat-title-s2-no-title.png");
	background-position: top;
	background-repeat: repeat;
	height: 8px;
}

div.module_ms2.no_title .pad5{
	background-image: url("../images/Red/ms2/right-pad5-s2-no-title.png");
	background-position: right top;
	background-repeat: no-repeat;
	height: 8px;
	padding: 0 10px 0 0;
}

div.module_ms2.no_title .pad4{
	background-image: url("../images/Red/ms2/left-title-2-no-title.png");
	background-position: left top;
	background-repeat: no-repeat;
	height: 7px;
	padding: 0 0 0 7px;
}

#sidebar1 .menu > li > span,
#sidebar2 .menu > li > span
{
	color: #9c0000;
}
